<html>

<head>
  <script>
    function initCrypto() {
      try {
        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");

        const cid = "@capstone.pdx.edu/sprs;1";
        var obj = Components.classes[cid].createInstance();
        obj = obj.QueryInterface(Components.interfaces.nsISPRS_PKCS11_Wrapper);
				if(obj.SPRS_initCrypto()){
					alert("Successful initialization");
					//alert(obj.SPRS_getTokenCount());
					alert("Error code: " + obj.SPRS_getLastError());
					//var arr = alert(obj.getArray({}));
					alert(obj.getArray({}));
					//alert(arr);
					var count = {};
					var cards = obj.SPRS_enumerateCards(count);

					alert("Count: " + count);
					alert("Count.value: " + count.value);
					alert("Cards: " + cards);
					alert("Cards.value: " + cards.value);
					alert("Error code: " + obj.SPRS_getLastError());

					alert("Login: " + obj.SPRS_selectCard(0, "12345678"));
					alert("Error code: " + obj.SPRS_getLastError());
					obj.SPRS_finalizeCrypto();
				}
				else{
					alert("Initialization failed: " + obj.SPRS_getLastError());
				}
			}
      catch (err) {
        alert(err);
				/*
				try{
				//	var error = obj.SPRS_getLastError();
				//	alert(error);
				}
				catch (err){
					alert(err);
				}
        return;
				*/
      }
			alert('maybe worked?');
/*
      var res = obj.add(3, 4);
      alert('3+4 = ' + res);

      var name = obj.name;
      alert('Name = ' + name);

      obj.name = 'New Name';
      name = obj.name;
      alert('Name = ' + name);
			*/
    }
  </script>

</head>

<body>

  <input type="button" value="Test XPCOM Component" onClick="initCrypto()"/>

</body>
</html>
